<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      Mailer<span style="color: var(--color-accent);">Action</span>
    </a>

    <!-- Botón hamburguesa para móviles -->
    <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú de navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto"> <!-- Alinea las opciones al principio con me-auto -->
        
        <!-- Soluciones Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSolutions" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t('navbar.solutions') %>
          </a>
            <ul class="dropdown-menu shadow p-3" aria-labelledby="navbarDropdownSolutions">
              <li><a class="dropdown-item" href="#"><%= t('solutions_dropdown.email_marketing') %></a></li>
              <li><a class="dropdown-item" href="#"><%= t('solutions_dropdown.automate') %></a></li>
              <li><a class="dropdown-item" href="#"><%= t('solutions_dropdown.data_analysis') %></a></li>
              <li><a class="dropdown-item" href="#"><%= t('solutions_dropdown.intelligent_segmentation') %></a></li>
            </ul>
        </li>

        <!-- Planes -->
        <li class="nav-item">
          <a class="nav-link" href="#"><%= t('navbar.plans') %></a>
        </li>

        <!-- Precios -->
        <li class="nav-item">
          <a class="nav-link" href="#"><%= t('navbar.prices') %></a>
        </li>
        
      </ul>

      <ul class="navbar-nav"> <!-- Alinea el resto de las opciones a la derecha -->
        <!-- Icono de Mundo con dropdown de idioma -->
        <li class="nav-item dropdown d-flex align-items-center">
          <lord-icon
              src="https://cdn.lordicon.com/jgeruqwm.json"
              trigger="hover"
              style="width: 40px; height: 40px; margin-right: 10px;">
          </lord-icon>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= I18n.locale.to_s.upcase %> <!-- Muestra el idioma actual -->
          </a>
          <ul id="languaje" class="dropdown-menu shadow p-3" aria-labelledby="navbarDropdown">
            <li class="nav-item"><%= link_to t('navbar.languages.es Espanol '), url_for(locale: 'es'), class: "dropdown-item" %></li>
            <li class="nav-item"><%= link_to t('navbar.languages.en English'), url_for(locale: 'en'), class: "dropdown-item" %></li>
            <li class="nav-item"><%= link_to t('navbar.languages.fr Français'), url_for(locale: 'fr'), class: "dropdown-item" %></li>
            <li class="nav-item"><%= link_to t('navbar.languages.br Português'), url_for(locale: 'br'), class: "dropdown-item" %></li>
            <li class="nav-item"><%= link_to t('navbar.languages.de Deutsch'), url_for(locale: 'de'), class: "dropdown-item" %></li>
            <li class="nav-item"><%= link_to t('navbar.languages.it Italiano'), url_for(locale: 'it'), class: "dropdown-item" %></li>
          </ul>

          
        </li>

        <!-- Iniciar Button -->
        <li class="nav-item">
          <%= link_to t('navbar.login'), "/web/login", class: "btn btn-outline-primary ms-3" %>
        </li>

        <!-- Register Button -->
        <li class="nav-item">
          <%= link_to t('navbar.signup'), "/web/signup", class: "btn btn-outline-primary ms-3" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
