        <!-- Layout wrapper -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <%= link_to root_path, class: "app-brand-link" do %>
      <span class="app-brand-logo demo">
        <%= image_tag "logo3.svg", width: 25 %>
      </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2">MailerAction</span>
    <% end %>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <!-- Dashboard -->
    <li class="menu-item active">
      <%= link_to web_dashboard_dashboard_path, class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div>Dashboard</div>
      <% end %>
    </li>

<!--
    <% if current_user.admin? || current_user.campaign_manager? || current_user.usuario_prepago? %>
      <li class="menu-header small text-uppercase"><span>Campañas</span></li>
      <li class="menu-item"><%= link_to "Crear", "#", class: "menu-link", data: { controller: "campaigns", action: "click->campaigns#new" } %></li>
    <% end %>
-->
    <% if current_user.designer? %>
      <li class="menu-header small text-uppercase"><span>Diseño</span></li>
      <li class="menu-item"><%= link_to "Plantillas", "#", class: "menu-link", data: { controller: "templates", action: "click->templates#list" } %></li>
    <% end %>

    <% if current_user.admin? %>
      <!-- 📩 Campañas -->
      <li class="menu-header small text-uppercase"><span>Campaign</span></li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon bx bx-mail-send"></i>
          <div data-i18n="Campañas">Campaign</div>
        </a>
        <ul class="menu-sub">
<li class="menu-item">
  <%= link_to web_dashboard_dashboard_path(section: "campaign_create"), class: "menu-link", data: { turbo_frame: "dashboard_section" } do %>
    <div data-i18n="Create Campaign">Create</div>
  <% end %>
</li>

          <li class="menu-item">
            <%= link_to "?section=campaign_schedule", class: "menu-link", data: { turbo_frame: "dashboard_section" } do %>
              <div data-i18n="Schedule Campaign">Schedule</div>
            <% end %>
          </li>
          <li class="menu-item">
            <%= link_to "?section=campaign_scheduled", class: "menu-link", data: { turbo_frame: "dashboard_section" } do %>
              <div data-i18n="Scheduled Campaigns">Scheduled</div>
            <% end %>
          </li>
          <li class="menu-item">
            <%= link_to "?section=campaign_sent", class: "menu-link", data: { turbo_frame: "dashboard_section" } do %>
              <div data-i18n="Sent Campaigns">Sent</div>
            <% end %>
          </li>
          <li class="menu-item">
            <%= link_to "?section=campaign_statistics", class: "menu-link", data: { turbo_frame: "dashboard_section" } do %>
              <div data-i18n="Campaign Statistics">Statistics</div>
            <% end %>
          </li>
          <li class="menu-item">
            <%= link_to "?section=campaign_flow_automation", class: "menu-link", data: { turbo_frame: "dashboard_section" } do %>
              <div data-i18n="Flow Automation">Flow Automation</div>
            <% end %>
          </li>
          <li class="menu-item">
            <%= link_to "?section=campaign_recommendations_ai", class: "menu-link", data: { turbo_frame: "dashboard_section" } do %>
              <div data-i18n="Recommendations (AI)">Recommendations (AI)</div>
            <% end %>
          </li>
          <li class="menu-item">
            <%= link_to "?section=campaign_interactive_map", class: "menu-link", data: { turbo_frame: "dashboard_section" } do %>
              <div data-i18n="Interactive Map">Interactive Map</div>
            <% end %>
          </li>
        </ul>

      </li>

      <!-- 📬 Emails Transaccionales -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon bx bx-envelope"></i>
                <div data-i18n="Transactional Emails">Transactional Emails</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Create Transactional Email">Create Transactional Email</div></a></li>
                <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Templates">Transactional Email Templates</div></a></li>
                <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Send History">Send History</div></a></li>
                <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Email Statistics">Statistics</div></a></li>
              </ul>
      </li>

      <!-- 📇 Contactos -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon bx bx-book-content"></i>
          <div data-i18n="Contacts">Contacts</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="View Contacts">View Contacts</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Manage Sectors">Manage Sectors / Industries</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Geolocate Contacts">Geolocate Contacts</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Import Contacts">Import New Contacts</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Audience Settings">Audience Settings</div></a></li>
        </ul>
      </li>

      <!-- 🔌 Integraciones -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon bx bx-plug"></i>
          <div data-i18n="Integrations">Integrations</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Connect Public API">Connect Public API</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Integrate CRM">Integrate with External CRMs</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Configure Webhooks">Configure Webhooks</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Third-party Automations">Third-party Automations</div></a></li>
        </ul>
      </li>


      <!-- 🔒 Autenticación y Seguridad -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon bx bx-lock-alt"></i>
          <div data-i18n="Authentication & Security">Authentication & Security</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Configure 2FA">Configure Authentication (2FA)</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Account Preferences">Account Preferences</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Timezone Management">Timezone Management</div></a></li>
        </ul>
        </li>


      <!-- 📈 Reportes -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon bx bx-line-chart"></i>
              <div data-i18n="Reports">Reports</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="General Report">General Campaign</div></a></li>
              <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Credits Report">Credits</div></a></li>
              <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Interactions Report">Interactions</div></a></li>
              <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Geolocation Report">Geolocation</div></a></li>
            </ul>
            </li>



     <!-- Management --> 
      <li class="menu-header small text-uppercase"><span>Administration</span></li>
      <!-- Users -->
      <li class="menu-item" style="">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon icon-base bx bx-user"></i>
          <div data-i18n="Users">Users</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="View Users">View Users</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Assign Roles and Permissions">Roles and Permissions</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Create New User">Create New User</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Security Settings">Security Settings</div></a></li>
        </ul>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="pages-account-settings-account.html" class="menu-link">
              <div data-i18n="List">List</div>
            </a>
          </li>

          <li class="menu-item open" style="">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <div data-i18n="View">View</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="app-user-view-account.html" class="menu-link">
                  <div data-i18n="Account">Account</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="app-user-view-security.html" class="menu-link">
                  <div data-i18n="Security">Security</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="app-user-view-billing.html" class="menu-link">
                  <div data-i18n="Billing &amp; Plans">Billing &amp; Plans</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="app-user-view-notifications.html" class="menu-link">
                  <div data-i18n="Notifications">Notifications</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="app-user-view-connections.html" class="menu-link">
                  <div data-i18n="Connections">Connections</div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- Roles & Permissions -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon icon-base bx bx-check-shield"></i>
          <div data-i18n="Roles &amp; Permissions">Roles &amp; Permissions</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="app-access-roles.html" class="menu-link">
              <div data-i18n="Roles">Roles</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="app-access-permission.html" class="menu-link">
              <div data-i18n="Permission">Permission</div>
            </a>
          </li>
        </ul>
      </li>

      <!-- Autentication -->
      <li class="menu-item" style="">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon icon-base bx bx-lock-open-alt"></i>
          <div data-i18n="Authentications">Authentications</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <div data-i18n="Login">Login</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="auth-login-basic.html" class="menu-link" target="_blank">
                  <div data-i18n="Basic">Basic</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="auth-login-cover.html" class="menu-link" target="_blank">
                  <div data-i18n="Cover">Cover</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <div data-i18n="Register">Register</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="auth-register-basic.html" class="menu-link" target="_blank">
                  <div data-i18n="Basic">Basic</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="auth-register-cover.html" class="menu-link" target="_blank">
                  <div data-i18n="Cover">Cover</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="auth-register-multisteps.html" class="menu-link" target="_blank">
                  <div data-i18n="Multi-steps">Multi-steps</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <div data-i18n="Verify Email">Verify Email</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="auth-verify-email-basic.html" class="menu-link" target="_blank">
                  <div data-i18n="Basic">Basic</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="auth-verify-email-cover.html" class="menu-link" target="_blank">
                  <div data-i18n="Cover">Cover</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <div data-i18n="Reset Password">Reset Password</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="auth-reset-password-basic.html" class="menu-link" target="_blank">
                  <div data-i18n="Basic">Basic</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="auth-reset-password-cover.html" class="menu-link" target="_blank">
                  <div data-i18n="Cover">Cover</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <div data-i18n="Forgot Password">Forgot Password</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="auth-forgot-password-basic.html" class="menu-link" target="_blank">
                  <div data-i18n="Basic">Basic</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="auth-forgot-password-cover.html" class="menu-link" target="_blank">
                  <div data-i18n="Cover">Cover</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <div data-i18n="Two Steps">Two Steps</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="auth-two-steps-basic.html" class="menu-link" target="_blank">
                  <div data-i18n="Basic">Basic</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="auth-two-steps-cover.html" class="menu-link" target="_blank">
                  <div data-i18n="Cover">Cover</div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    <% end %>



 


    <li class="menu-header small text-uppercase"><span>Account</span></li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon bx bx-cog"></i>
          <div data-i18n="General Settings">My Profile</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Sending Domain">Configure Sending Domain</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Sending Preferences">Sending Preferences</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Platform Settings">Platform Settings</div></a></li>
        </ul>
      </li>
    </li>




    <!--
        <li class="menu-item">
          <%= link_to "Mi perfil", "#", class: "menu-link" %>
        </li>
    -->


     <!-- ⚙️ General Settings -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon bx bx-cog"></i>
          <div data-i18n="General Settings">General Settings</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Sending Domain">Configure Sending Domain</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Sending Preferences">Sending Preferences</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Platform Settings">Platform Settings</div></a></li>
        </ul>
      </li>




      <!-- 🛒 Plans and Credits -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon bx bx-cart"></i>
          <div data-i18n="Plans and Credits">Plans and Credits</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Current Plan">Current Plan</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Buy Credits">Buy Credits</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Credits History">Credits History</div></a></li>
          <li class="menu-item"><a href="#" class="menu-link"><div data-i18n="Billing">Billing</div></a></li>
        </ul>
      </li>




    <!-- Invoice -->
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base bx bx-food-menu"></i>
        <div data-i18n="Invoice">Invoice</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item active">
          <a href="app-invoice-list.html" class="menu-link">
            <div data-i18n="List">List</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="app-invoice-preview.html" class="menu-link">
            <div data-i18n="Preview">Preview</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="app-invoice-edit.html" class="menu-link">
            <div data-i18n="Edit">Edit</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="app-invoice-add.html" class="menu-link">
            <div data-i18n="Add">Add</div>
          </a>
        </li>
      </ul>
    </li>



    <!-- 🛠️ Misc-->
    <li class="menu-header small">
        <span class="menu-header-text" data-i18n="Misc">Misc</span>
    </li>




    <!-- 📚 Academy -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon bx bx-book"></i>
          <div data-i18n="Academy">Academy</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="#" class="menu-link">
              <div data-i18n="News and Updates">News and Updates</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">
              <div data-i18n="Technical Documentation">Technical Documentation</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">
              <div data-i18n="Popular Articles">Popular Articles</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-link">
              <div data-i18n="Help Center">Help Center</div>
            </a>
          </li>
        </ul>
      </li>

      <!-- 🛠️ Soporte y Feedback -->

        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon bx bx-support"></i>
            <div data-i18n="Support and Feedback">Support and Feedback</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
          <a href="#" class="menu-link">
            <div data-i18n="Service Status">Service Status</div>
          </a>
            </li>
            <li class="menu-item">
          <a href="#" class="menu-link">
            <div data-i18n="Feature Requests">Feature Requests</div>
          </a>
            </li>
            <li class="menu-item">
          <a href="#" class="menu-link">
            <div data-i18n="User Community">User Community</div>
          </a>
            </li>
            <li class="menu-item">
          <a href="#" class="menu-link">
            <div data-i18n="Contact Us">Contact Us</div>
          </a>
            </li>
          </ul>
        </li>

   
<%= link_to web_web_logout_path(locale: I18n.locale),
            data: { turbo_method: :delete, turbo_frame: "_top" },
            class: "menu-link" do %>
  <i class="bx bx-power-off me-2"></i>
  <span class="align-middle">Cerrar sesión</span>
<% end %>
     



  </ul>





</aside>
