<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <%= link_to web_dashboard_dashboard_path, class: "app-brand-link" do %>
      <span class="app-brand-logo demo">
        <%= image_tag "logo3.svg", width: 25 %>
      </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2">MailerAction</span>
    <% end %>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <!-- Dashboard -->
    <li class="menu-item active">
      <%= link_to web_dashboard_dashboard_path, class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div>Dashboard</div>
      <% end %>
    </li>

    <% if current_user.admin? || current_user.campaign_manager? || current_user.usuario_prepago? %>
      <li class="menu-header small text-uppercase"><span>Campañas</span></li>
      <li class="menu-item"><%= link_to "Crear", "#", class: "menu-link", data: { controller: "campaigns", action: "click->campaigns#new" } %></li>
      <li class="menu-item"><%= link_to "Programadas", "#", class: "menu-link", data: { campaigns_target: "scheduled" } %></li>
      <li class="menu-item"><%= link_to "Enviadas", "#", class: "menu-link", data: { campaigns_target: "sent" } %></li>
      <li class="menu-item"><%= link_to "Estadísticas", "#", class: "menu-link", data: { campaigns_target: "stats" } %></li>
    <% end %>

    <% if current_user.designer? %>
      <li class="menu-header small text-uppercase"><span>Diseño</span></li>
      <li class="menu-item"><%= link_to "Plantillas", "#", class: "menu-link", data: { controller: "templates", action: "click->templates#list" } %></li>
    <% end %>

    <% if current_user.admin? %>
      <li class="menu-header small text-uppercase"><span>Administración</span></li>
      <li class="menu-item"><%= link_to "Usuarios", "#", class: "menu-link" %></li>
      <li class="menu-item"><%= link_to "Planes", "#", class: "menu-link" %></li>
      <li class="menu-item"><%= link_to "Feedbacks", "#", class: "menu-link" %></li>
    <% end %>

    <li class="menu-header small text-uppercase"><span>Cuenta</span></li>
    <li class="menu-item">
      <%= link_to "Mi perfil", "#", class: "menu-link" %>
    </li>
    <li class="menu-item">
      <%= link_to "Cerrar sesión", web_logout_path, method: :delete, class: "menu-link" %>
    </li>

  </ul>
</aside>
