<h1>Editar Perfil</h1>

<%= form_with model: @user, url: web_user_path(@user), method: :patch, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email_address %>
    <%= form.email_field :email_address, class: "form-control" %>
  </div>

  <%= form.submit "Guardar cambios", class: "btn btn-primary" %>
<% end %>
