<section class="container hero-section" id="hero">
  <div class="row">
    <div data-controller="hello">
      <button data-action="click->hello#greet">Saludar</button>
    </div>
    <!-- Texto -->
    <div class="col-md-6">
      <h1 class="hero-title">
        <span><%= t('mailer_action') %></span>
      </h1>
      <h2 id="dynamic-heading" class="hero-dynamic-text">
        <%= t('hero.phrases').sample %>
      </h2>

      <p class="hero-subtitle">
        <%= t('hero.subtitle') %>
      </p>

      <div class="hero-buttons">
        <a href="/login" class="btn btn-outline-primary" aria-label="Comenzar ahora"><%= t('hero.button_1') %></a>
        <a href="#video" class="btn btn-outline-primary" aria-label="Ver cómo funciona"><%= t('hero.button_2') %></a>
      </div>
    </div>

    <!-- Imagen -->
    <div class="col-md-6">
      <%= image_tag '3.png', alt: 'Hero Image', class: 'hero-illustration' %>
    </div>
  </div>
</section>










