<!-- Grilla de plantillas con imágenes y descripciones usando Bootstrap -->
<section class="ui vertical segment template-section" id="template">
    <div class="container text-center">
    <h2 class="ui header">Plantillas que funcionan</h2>
    <p class="plans-subtext">¡Arranca a toda velocidad en la creación de tus páginas web y newsletters! Elige un diseño que se adapte a las necesidades de tu negocio y alineado a tu marca. Nuestros editores de arrastrar y soltar hacen que sea muy fácil personalizar plantillas con estilo profesional.</p>

    

    <div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div id="box1" class="card-template">      
                <a href="/plantillas/template1" class="card h-80" style="border-radius: 1rem; overflow: hidden; text-decoration: none;">
                    <%= image_tag('templates/template1.webp', alt: 'Plantilla 1', class: 'card-img-top w-100') %>
                </a>
            </div>
            <div id="box2" class="card-template">      
                <a href="/plantillas/template2" class="card h-70" style="border-radius: 1rem; overflow: hidden; text-decoration: none;">
                    <%= image_tag('templates/template2.webp', alt: 'Plantilla 7', class: 'card-img-top w-100') %>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
        <div id="box3" class="card-template">
            <a href="/plantillas/template10" class="card h-100" style="border-radius: 1rem; overflow: hidden; text-decoration: none;">
                <%= image_tag('templates/template10.webp', alt: 'Plantilla 9', class: 'card-img-top w-100') %>
            </a>
        </div>
        <div id="box4" class="card-template">
            <a href="/plantillas/template8" class="card h-100" style="border-radius: 1rem; overflow: hidden; text-decoration: none;">
                <%= image_tag('templates/template8.webp', alt: 'Plantilla 10', class: 'card-img-top w-100') %>
            </a>
        </div>
        </div>
        <div class="col-lg-3">

        <div id="box5" class="card-template">      
            <a href="/plantillas/template7" class="card h-70" style="border-radius: 1rem; overflow: hidden; text-decoration: none;">
                <%= image_tag('templates/template7.webp', alt: 'Plantilla 7', class: 'card-img-top w-100') %>
            </a>
        </div>
        <div id="box6" class="card-template">      
            <a href="/plantillas/template3" class="card h-90" style="border-radius: 1rem; overflow: hidden; text-decoration: none;">
                <%= image_tag('templates/template3.webp', alt: 'Plantilla 8', class: 'card-img-top w-100') %>
            </a>
        </div>
        </div>
        <div class="col-lg-3">
        <div id="box7" class="card-template">
            <a href="/plantillas/template9" class="card h-80" style="border-radius: 1rem; overflow: hidden; text-decoration: none;">
                <%= image_tag('templates/template9.webp', alt: 'Plantilla 9', class: 'card-img-top w-100') %>
            </a>
        </div>
        <div id="box8" class="card-template">
            <a href="/plantillas/template5" class="card h-100" style="border-radius: 1rem; overflow: hidden; text-decoration: none;">
                <%= image_tag('templates/template5.webp', alt: 'Plantilla 10', class: 'card-img-top w-100') %>
            </a>
        </div>
        </div>
    </div>
</section>