<h1>Dashboard General</h1>
<p>Hola <%= current_user.email_address %>. Este es el panel por defecto.</p>




<%= turbo_frame_tag "dashboard_section" do %>
  <% case params[:section] %>
  <% when "campaign_create" %>
    <%= render "layouts/shared/campaign/create" %>
  <% when "campaign_schedule" %>
    <%= render "layouts/shared/campaign/schedule" %>
  <% when "campaign_sent" %>
    <%= render "layouts/shared/campaign/sent" %>
  <% when "campaign_statistics" %>
    <%= render "layouts/shared/campaign/statistics" %>
  <% when "campaign_flow_automation" %>
    <%= render "layouts/shared/campaign/flow_automation" %>
  <% when "campaign_recommendations_ai" %>
    <%= render "layouts/shared/campaign/recommendations_ai" %>
  <% when "campaign_interactive_map" %>
    <%= render "layouts/shared/campaign/interactive_map" %>
  <% else %>
    <%= render "layouts/shared/campaign/welcome" %>
  <% end %>
<% end %>