<!-- app/views/layouts/web.html.erb -->
<!DOCTYPE html>
<html lang="es" class="light-style layout-menu-fixed" data-theme="theme-default">
<head>
  <meta charset="utf-8" />
  <title><%= content_for?(:title) ? yield(:title) : "MailerAction Dashboard" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" type="image/x-icon" href="<%= asset_path 'favicon.ico' %>" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap" rel="stylesheet" />

  <!-- Boxicons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">

  <!-- Core CSS -->
  <%= stylesheet_link_tag "core", "theme-default", "demo", media: "all", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "perfect-scrollbar", media: "all" %>

  <!-- Rails Helpers -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Stimulus via Importmap -->
  <%= javascript_importmap_tags %>
</head>

<body>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <%= render "layouts/shared/sidebar" %>

      <div class="layout-page">
        <%= render "layouts/shared/admin_navbar" %>

        <div class="content-wrapper">
          <main class="container-xxl flex-grow-1 container-p-y">
            <%= yield %>
          </main>
          <%= render "shared/footer" %>
        </div>
      </div>
    </div>

    <div class="layout-overlay layout-menu-toggle"></div>
  </div>



  <!-- Optional Page JS -->
  <%= yield :javascript %>
  
  
</body>
</html>
